.container {
  padding: 16vh;
  align-content: center;
  border-style: solid;
  border-color: black;
  background-color: #212529;
}

.searchformcontainer {
  padding: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
}

.searchform {
  padding-bottom: 20px;
}

.submitbutton {
  color: black;
  margin-left: 16px;
}

.submitbutton:hover {
  color: black;
  margin-left: 16px;
  cursor: pointer;
}

.filterscontainer {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.stateselectorcontainer {
  margin-bottom: 1vh;
}

.renderbrewerycontainer {
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  margin: 20px;
}
.renderbrewerycontainer a{
  color: white;
}
.renderbrewerycontainer a:hover {
  color: yellow;
}
.renderselectedbrewerycontainer {
  border-style: solid;
  border-color: red;
  border-radius: 20px;
  margin: 20px;
}
.renderselectedbrewerycontainer a{
  color: white;
}
.renderselectedbrewerycontainer a:hover {
  color: yellow;
}

.renderbrewerycontents {
  padding: 16px;
}

.brewerydetails {
  padding: 8px;
}

.detailtype {
  text-transform: capitalize;
}

.mapbutton {
  padding-top: 1vh;
  padding-bottom: 2vh;
}

.popupcontents {
  color: black;
}
.popupcontents a:hover {
  color: yellow;
}
