.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculatorcontainer {
  border-style: solid;
  border-radius: 8px;
  border-color: black;
  background-color: #f08c00;
  display: flex;
  flex-direction: column;
  min-width: 32vw;
  max-width: 44vw;
  padding: 4px;
}

.calclogo {
  font-size: 18px;
  margin-top: 20px;
  margin-left: 20px;
  font-style: italic;
  font-weight: bold;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.buttonscontainer {
  display: grid;
}

.viewscreen {
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  margin: 20px;
  display: flex;
  justify-content: flex-end;
  background-color: #e5e9f0;
}

.viewednumberheader {
  margin-right: 10px;
  color: black;
}

.button {
  min-width: 10vw;
  width: inherit;
  min-height: 10vh;
  font-size: 16px;
  font-weight: bold;
}

.clearbuttoncontainer {
  grid-column: 1/3;
  grid-row: 1;
}

.clearbutton {
  width: 20vw;
  height: 10vh;
  background-color: #B94E48;
  font-size: 16px;
  font-weight: bold;
  margin-left: 8px;
}

.clearbutton:hover {
  background-color: #E15D44;
}

.negativebutton {
  grid-column: 3/4;
  grid-row: 1;
  background-color: inherit;
  font-size: 16px;
  font-weight: bold;
  min-width: 10vw;
  min-height: 10vh;
}

.dividebutton {
  grid-column: 4/5;
  grid-row: 1;
  min-width: 10vw;
  min-height: 10vh;
  margin-right: 8px;
}

.button7 {
  grid-column: 1/2;
  grid-row: 2;
  background-color: inherit;
  margin-left: 8px;
}

.button8 {
  grid-column: 2/3;
  grid-row: 2;
  background-color: inherit;
}

.button9 {
  grid-column: 3/4;
  grid-row: 2;
  background-color: inherit;
}

.multiplybutton {
  grid-column: 4/5;
  grid-row: 2;
  background-color: inherit;
  margin-right: 8px;
}

.button4 {
  grid-column: 1/2;
  grid-row: 3;
  background-color: inherit;
  margin-left: 8px;
}

.button5 {
  grid-column: 2/3;
  grid-row: 3;
  background-color: inherit;
}

.button6 {
  grid-column: 3/4;
  grid-row: 3;
  background-color: inherit;
}

.subtractbutton {
  grid-column: 4/5;
  grid-row: 3;
  background-color: inherit;
  margin-right: 8px;
}

.button1 {
  grid-column: 1/2;
  grid-row: 4;
  background-color: inherit;
  margin-left: 8px;
}

.button2 {
  grid-column: 2/3;
  grid-row: 4;
  background-color: inherit;
}

.button3 {
  grid-column: 3/4;
  grid-row: 4;
  background-color: inherit;
}

.addbutton {
  grid-column: 4/5;
  grid-row: 4;
  background-color: inherit;
}

.zerobutton {
  grid-column: 1/2;
  grid-row: 5;
  background-color: inherit;
  margin-left: 8px;
  margin-bottom: 8px;
}

.decimalbutton {
  grid-column: 2/3;
  grid-row: 5;
  background-color: inherit;
  margin-bottom: 8px;
}

.equalsbuttoncontainer {
  grid-column: 3/5;
  grid-row: 5;
}

.equalsbutton {
  height: 10vh;
  width: 20vw;
  background-color: #a3be8c;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.equalsbutton:hover {
  background-color: #a9e34b;
}

.signbutton {
  min-width: 10vw;
  width: inherit;
  min-height: 10vh;
  background-color: #ffb300;
  font-size: 16px;
  font-weight: bold;
}

.signbutton:hover {
  background-color: #fff85b;
}

.selectedsignbutton {
  min-width: 10vw;
  width: inherit;
  min-height: 10vh;
  background-color: #e8590c;
  font-size: 16px;
  font-weight: bold;
}

.bluebutton {
  min-width: 10vw;
  min-height: 10vh;
  background-color: #88c0d0;
  font-size: 16px;
  font-weight: bold;
}

.bluebutton:hover {
  background-color: #a5d8ff;
}
