.bannercontainer {
  min-width: 80vw;
}

.toolbar {
  min-height: 4vh;
  padding-bottom: 24px;
}

.navbutton {
  min-height: 4vh;
  min-width: 20vw;
  border-radius: 10px;
  background-color: #d8dee9;
}

.navbutton:hover {
  background-color: white;
  cursor: pointer;
}

.projectbuttoncontainer {
  display: flex;
  flex-direction: row;
}

.projectinfocontainer {
  padding-top: 2vh;
  padding-left: 8vw;
  padding-bottom: 2vh;
}

.displayprojectcontainer {
  padding-top: 4vh;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 4vh;
  margin: 8px;
  background-color: #e5e9f0;
  display: flex;
  justify-content: center;
}

.projectbutton {
  width: 16vw;
  height: 8vh;
  color: black;
  background-color: #e5f4fb;
}

.projectbutton:hover {
  background-color: white;
  cursor: pointer;
}

.selectedprojectbutton {
  width: 16vw;
  height: 8vh;
  color: black;
  background-color: #88B04B;
}

.selectedprojectbutton:hover {
  cursor: pointer;
  background-color: #94d82d;
}

.githublink a :hover {
  text-decoration: underline;
}

.calcappcontainer {
}
