.bannercontainer {
  min-width: 80vw;
}

.toolbar {
  min-height: 4vh;
  padding-bottom: 24px;
}

.navbutton {
  min-height: 4vh;
  min-width: 20vw;
  border-radius: 10px;
  background-color: #d8dee9;
}

.navbutton:hover {
  background-color: white;
  cursor: pointer;
}

.projectbuttoncontainer {
  display: flex;
  flex-direction: row;
}

.projectinfocontainer {
  width: 90vw;
  padding-top: 2vh;
  padding-left: 8vw;
  padding-right: 8vw;
  padding-bottom: 2vh;
  overflow-wrap: break-word;
}

.displayprojectcontainer {
  width: 80vw;
  padding-top: 4vh;
  padding-bottom: 4vh;
  background-color: #e5e9f0;
  display: flex;
  flex-grow: inherit;
  flex-shrink: inherit;
}

.calcappcontainer {
  width: 80vw;
  display: flex;
  justify-content: center;
}

.todoappcontainer {
  width: 80vw;
  justify-content: center;
}

.breweryappcontainer {
  width: 80vw;
}

.weatherappcontainer {
  width: 80vw;
}

.recordsearchcontainer {
  min-width: 80vw;
}

.projectbutton {
  width: 16vw;
  height: 8vh;
  color: black;
  background-color: #e5f4fb;
  overflow-wrap: break-word;
}

.projectbutton:hover {
  background-color: white;
  cursor: pointer;
}

.selectedprojectbutton {
  min-width: 16vw;
  height: 8vh;
  color: black;
  background-color: #88B04B;
  overflow-wrap: break-word;
}

.selectedprojectbutton:hover {
  cursor: pointer;
  background-color: #94d82d;
}

.githublink a :hover {
  text-decoration: underline;
}

.calcappcontainer {
  background-color: transparent;
  margin-top: -8vh;
  margin-bottom: -12vh;
}
