.container {
  padding: 0 2rem;
  background-color: #2e3440;
  color: white;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectstitle {
  min-height: 4vh;
  width: 80vw;
  border-bottom: 1px solid #eaeaea;
}

.projectcontainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectdetailcontainer {
  margin-top: 4vh;
  margin-bottom: 2vh;
  padding-bottom: 2vh;
  border-style: solid;
  min-width: 80%;
  border-color: white;
  border-radius: 2vw;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-decoration: underline;
}

.footer a:hover {
  color: #7fdaf4;
}
