.todoappcontainer {
  border-style: solid;
  border-color: black;
  width: 80vw;
  padding: 16vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  background-color: #212529;
}

.newtodobuttoncontainer {
  margin-bottom: 2vh;
  margin-top: 1vh;
}

.newtodobutton {
  border-style: solid;
  border-color: #0b7285;
  border-radius: 8px;
  min-width: 4vw;
  min-height: 3vh;
  font-weight: bold;
  font-size: 16px;
  background-color: #98f5ff;
}

.newtodobutton:hover {
  cursor: pointer;
  border-style: solid;
  border-color: #0b7285;
  border-radius: 8px;
  min-width: 4vw;
  min-height: 3vh;
  font-weight: bold;
  font-size: 16px;
  background-color: #00ccff;
}

.todolist {
  padding-bottom: 16px;
}

.todoviewcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.todoinputcontainer {
  margin: 8px;
  max-width: 100%;
}

.todoinput {
  font-size: 24px;
  border-style: hidden;
}

.completedbuttoncontainer {
  padding: 16px;
}

.checkbox {
  width: 24px;
  height: 24px;
}

.deletebutton {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  border-color: #9E1030;
  background-color: #FF6F61;
}

.deletebutton:hover {
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  border-color: #9E1030;
  background-color: #FF2B2B;
}
